@page "/orders/{orderId:int}"
@inject IOrderService OrderService

@if (order == null)
{
    <span>Loading order...</span>
}
else
{
    <h3>Order from @order.OrderDate</h3>

    <div>
        @foreach (var meal in order.Meals)
        {
            <div class="container">
                <div class="image-wrapper">
                    <img src="@meal.ImageUrl" class="image" />
                </div>
                <div class="name">
                    <h5><a href="/meal/@meal.MealId">@meal.Name</a></h5>
                    <span>@meal.MealType</span><br />
                    <span>Quantity:@meal.Quantity</span>
                </div>
               <div class="meal-price">@meal.TotalPrice Ft.</div>
            </div>
        }
        <div class="meal-price">
            Total: @order.TotalPrice Ft.
        </div>
    </div>
}
@code {
    [Parameter]
    public int OrderId { get; set; }

    OrderDetailsResponseDTO order = null;

    protected override async Task OnInitializedAsync()
    {
        order = await OrderService.GetOrderDetails(OrderId);
    }
}
